# the build will not deploy if there is a missing python package here
pip==24.3.1
thermo==0.2.27
matplotlib==3.7.0
scipy==1.10.0
dash==2.18.0
dash-bootstrap-components==1.6.0
beautifulsoup4==4.12.2
pytz==2023.3.post1
control==0.10.1
mecab-python3==1.0.10
json5==0.9.6
cachetools==5.3.3
googletrans==4.0.0rc1
sudachipy==0.6.10
regex==2024.11.6