# the build will not deploy if there is a missing python package here
# periodically check if there are new versions of the packages or missing packages 
# before pushing build by creating venv: 
# Set-ExecutionPolicy RemoteSigned -Scope CurrentUser
# py -3.11 -m venv venv 
# .\venv\Scripts\activate
# python -m pip install -r requirements.txt
# python app.py
# then see which packages are missing/outdated and edit/add them to the file
# deactivate
# Remove-Item -Recurse -Force .venv

pip==25.0
numpy==1.26.4
thermo==0.2.27
matplotlib==3.7.0
scipy==1.15.1
dash==2.18.2
dash-bootstrap-components==1.6.0
beautifulsoup4==4.12.2
pytz==2023.3.post1
control==0.10.1
json5==0.9.6
cachetools==5.3.3
googletrans==4.0.0rc1
sudachipy==0.6.10
regex==2024.11.6
sudachidict_core==20250129
pykakasi==2.3.0
sympy==1.13.1
rdkit==2024.9.5
pubchempy==1.0.4
chempy==0.9.0
yt-dlp==2025.2.19